{% extends 'base.html' %}

{% block title %}Update user{% endblock %}

{% block content %}
This is the update profile and delete profile page<br>
    
<form method="post" id="update_user_form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update</button>
    <button type="submit" name="action" value="delete" id="deleteButton">Delete</button>
</form>

<script>
document.getElementById('deleteButton').addEventListener('click', function(event) {
    var confirmation = confirm("Are you sure you want to delete?");
    if (!confirmation) {
        event.preventDefault(); // Prevents the default action (form submission)
    }
});
</script>

{% endblock %}
