{% extends 'base.html' %}

{% block title %}Read review{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Read Review</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Title: {{ review.title }}</h5>
                <p class="card-text">Review: {{ review.content|linebreaks }}</p>
                <p class="card-text">Added by: {{ review.user.username }}</p>
                <p class="card-text">Added on: {{ review.created_at }}</p>
                {% if user == review.user %}
                    <button class="btn btn-primary" id="review_button"
                            onclick="window.location.href='{% url 'update_review' slug=review.slug %}';">Edit Review
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
