{% extends 'base.html' %}

{% block title %}Update list{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Update or Delete Curated List</h2>
                <form method="post" id="custom_form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="submit" name="action" value="delete" class="btn btn-danger" id="deleteButton">Delete
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('deleteButton').addEventListener('click', function (event) {
            var confirmation = confirm("Are you sure you want to delete?");
            if (!confirmation) {
                event.preventDefault(); // Prevents the default action (form submission)
            }
        });
    </script>
{% endblock %}
