{% extends 'base.html' %}

{% block title %}Create game{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Choose Form</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <select id="form_selector" class="form-control mb-3" onchange="showSelectedForm()">
                    <option value="video_game">Video Game Form</option>
                    <option value="non_video_game">Non-Video Game Form</option>
                </select>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" id="video_game_form" style="display: none;">
                    <!-- Video Game Form Content -->
                    {% csrf_token %}
                    {{ video_game_form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit Video Game</button>
                </form>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" id="non_video_game_form" style="display: none;">
                    <!-- Non-Video Game Form Content -->
                    {% csrf_token %}
                    {{ non_video_game_form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit Non-Video Game</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function showSelectedForm() {
            var selectedValue = document.getElementById('form_selector').value;
            document.getElementById('video_game_form').style.display = (selectedValue === 'video_game') ? 'block' : 'none';
            document.getElementById('non_video_game_form').style.display = (selectedValue === 'non_video_game') ? 'block' : 'none';
        }

        // Call the showSelectedForm function when the page loads
        window.onload = showSelectedForm;
    </script>
{% endblock %}
