{% extends 'base.html' %}

{% block title %}Page Title{% endblock %}

{% block content %}
This is the Read Game page<br><br>

These are the common fields:<br>

Name: {{ game.name }}<br>
Added by: {{ game.user.username }}<br>

{% if game.description %}
Description: {{ game.description }}<br>
{% endif %}

{% if game.genre %}
Genre: {{ game.genre }}<br>
{% endif %}

Rating: {{ game.age_range }}+<br>

{% if game.cover %}
Cover: {{ game.cover }}<br>
{% endif %}<br>

These are the fields, specific to the game type:<br>
{% if game.type == "Video Games" %}
    Release Year: {{ game.release_year }}<br>
    
    {% if game.trailer %}
        Trailer: {{ game.trailer }}<br>
    {% endif %}
        
    {% if game.gameplay %}
        Gameplay: {{ game.gameplay }}<br>
    {% endif %}
    
    Developer: {{ game.developer }}<br>
    
    Publisher: {{ game.publisher }}<br>
    
    {% if game.system_requirements %}
        System Requirements: {{ game.system_requirements }}<br>
    {% endif %}

{% else %}
    Players: {{ game.players }}<br>
    
    Rules: {{ game.rules }}<br>
    
    {% if game.setup_time%}
        Setup Time: {{ game.setup_time|time:"H:i" }}<br>
    {% endif %}
    
    {% if game.playtime %}
        Playtime: {{ game.playtime|time:"H:i" }}<br>
    {% endif %}
    
    Chance: {{ game.chance }}<br>
    
    {% if game.skills %}
        Skills: {{ game.skills }}<br>
    {% endif %}
{% endif %}<br>

{% if not user.is_authenticated %}
    <button id="like_button" onclick="window.location.href='{% url 'sign_in' %}';">Like</button>
{% elif user.is_authenticated and not is_liked %}
    <form action="{% url 'create_like' slug=game.slug %}" method="post" class="like-form">
    {% csrf_token %}
    <button type="submit">Like</button>
    </form>
{% elif user.is_authenticated and is_liked %}
    <form action="{% url 'delete_like' slug=game.slug %}" method="post" class="like-form">
    {% csrf_token %}
    <button type="submit">Dislike</button>
    </form>
{% endif %}


{% if not user.is_authenticated %}
    <button id="comment_button" onclick="window.location.href='{% url 'sign_in' %}';">Comment</button>
{% elif user.is_authenticated%}
    <button id="comment_button" onclick="window.location.href='{% url 'create_comment' slug=game.slug %}';">Comment</button>
{% endif %}

{% if not user.is_authenticated %}
    <button id="rate_button" onclick="window.location.href='{% url 'sign_in' %}';">Rate</button>
{% elif user.is_authenticated and not is_rated %}
<button id="rate_button" onclick="window.location.href='{% url 'create_rating' slug=game.slug %}';">Rate</button>
{% elif user.is_authenticated and is_rated %}
    Your rating: {{ rating.content }}
{% endif %}

{% if not user.is_authenticated %}
    <button id="review_button" onclick="window.location.href='{% url 'sign_in' %}';">Review</button><br>
{% elif user.is_authenticated and not is_reviewed %}
<button id="review_button" onclick="window.location.href='{% url 'create_review' slug=game.slug %}';">Review</button><br>
{% elif user.is_authenticade and is_reviewed %}
    Already reviewed
{% endif %}

Likes: {{ game.likes.all | length }}<br>
Ratings: {{ game.ratings.all }}<br>
Comments: {{ game.comments.all }}<br>
Reviews: {{ game.reviews.all }}<br>



{% endblock %}
