{% extends 'base.html' %}
{% load static %}
{% block title %}Read game{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>{{ game.name }}</h2>
            </div>
        </div>
        <div class="row">
            {% if game.cover %}
                <div class="col-md-4">
                    <img src="{{ game.cover }}" class="img-fluid" alt="Cover Image">
                </div>
            {% else %}
                <div class="col-md-4">
                    <img src="https://static.vecteezy.com/system/resources/previews/013/442/213/original/blank-dvd-case-and-disc-png.png"
                         class="img-fluid" alt="Default Cover Image">
                </div>
            {% endif %}
            {% if game.trailer %}
                <div class="col-md-4">
                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/{{ trailer_id }}"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            {% endif %}
            {% if game.gameplay %}
                <div class="col-md-4">
                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/{{ gameplay_id }}"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            {% endif %}
        </div>

        <div class="container">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-8">
                    <!-- Game Details Card -->
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <p>Added by: {{ game.user.username }}</p>
                            {% if game.description %}
                                <p>Description: {{ game.description }}</p>
                            {% endif %}
                            {% if game.genre %}
                                <p>Genre: {{ game.genre }}</p>
                            {% endif %}
                            <p>Age Rating: {{ game.age_range }}+</p>
                            {% if game.type == "Video Games" %}
                                <p>Release Year: {{ game.release_year }}</p>
                                <p>Developer: {{ game.developer }}</p>
                                <p>Publisher: {{ game.publisher }}</p>
                                {% if game.system_requirements %}
                                    <p>System Requirements: {{ game.system_requirements }}</p>
                                {% endif %}
                            {% else %}
                                <p>Players: {{ game.players }}</p>
                                <p>Rules: {{ game.rules }}</p>
                                {% if game.setup_time %}
                                    <p>Setup Time: {{ game.setup_time|time:"H:i" }}</p>
                                {% endif %}
                                {% if game.playtime %}
                                    <p>Playtime: {{ game.playtime|time:"H:i" }}</p>
                                {% endif %}
                                <p>Chance: {{ game.chance }}</p>
                                {% if game.skills %}
                                    <p>Skills: {{ game.skills }}</p>
                                {% endif %}
                            {% endif %}
                            <p>Average rating: {{ avg_rating }}</p>
                            <p>Total likes: {{ likes|length }}</p>
                            <p>Total comments: {{ comments|length }}</p>
                            <p>Total reviews: {{ reviews|length }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3>Reviews</h3>
                    <ul class="list-group">
                        {% for review in game.reviews.all %}
                            <li class="list-group-item mb-3">
                                <p>{{ review.content }}</p>
                                <p class="small text-muted">Added by: {{ review.user.username }}<br>
                                    Added on: {{ review.created_at }}</p>
                                {% if review.user == user %}
                                    <a href="{% url 'update_review' slug=review.slug %}"
                                       class="btn btn-sm btn-primary">Edit Review</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-6">
                    <h3>Comments</h3>
                    <ul class="list-group">
                        {% for comment in game.comments.all %}
                            <li class="list-group-item mb-3">
                                <p>{{ comment.content|linebreaks }}</p>
                                <p class="small text-muted">Added by: {{ comment.user.username }}<br>
                                    Added on: {{ comment.created_at }}</p>
                                {% if comment.user == user %}
                                    <a href="{% url 'update_comment' pk=comment.id %}"
                                       class="btn btn-sm btn-primary">Edit Comment</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
