{% extends 'base.html' %}

{% block title %}Update game{% endblock %}

{% block content %}
This is the update and delete game page

<form method="post" id="update_game_form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="game_type" value="{{ game.get_game_type }}">
    <button type="submit">Update Game</button>
    <button type="submit" name="action" value="delete" id="deleteButton">Delete Game</button>
</form>

<script>
document.getElementById('deleteButton').addEventListener('click', function(event) {
    var confirmation = confirm("Are you sure you want to delete?");
    if (!confirmation) {
        event.preventDefault(); // Prevents the default action (form submission)
    }
});
</script>

{% endblock %}
