{% extends 'base.html' %}

{% block title %}Page Title{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Video Games</h2>
                <div class="card-columns">
                    {% for video_game in video_games %}
                        <div class="card">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ video_game.name }}</h5>
                                        <p class="card-text">Platform: {{ video_game.platform }}</p>
                                        <a href="{% url 'read_game' slug=video_game.slug %}" class="btn btn-primary">Read
                                            More</a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    {% if video_game.cover %}
                                        <img src="{{ video_game.cover }}" class="card-img" alt="{{ video_game.name }}">
                                    {% else %}
                                        <img src="https://static.vecteezy.com/system/resources/previews/013/442/213/original/blank-dvd-case-and-disc-png.png"
                                             class="img-fluid" alt="Default Cover Image">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <h2>Non-Video Games</h2>
                <div class="card-columns">
                    {% for non_video_game in non_video_games %}
                        <div class="card">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ non_video_game.name }}</h5>
                                        <p class="card-text">Type: {{ non_video_game.type }}</p>
                                        <a href="{% url 'read_game' slug=non_video_game.slug %}"
                                           class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    {% if non_video_game.cover %}
                                        <img src="{{ non_video_game.cover }}" class="card-img"
                                             alt="{{ non_video_game.name }}">
                                    {% else %}
                                        <img src="https://static.vecteezy.com/system/resources/previews/013/442/213/original/blank-dvd-case-and-disc-png.png"
                                             class="img-fluid" alt="Default Cover Image">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% if video_games.has_previous %}
                    <a href="?video_games_page=1" class="btn btn-primary">First</a>
                    <a href="?video_games_page={{ video_games.previous_page_number }}"
                       class="btn btn-primary">Previous</a>
                {% endif %}
                <span class="current-page">Page {{ video_games.number }} of {{ video_games.paginator.num_pages }}</span>
                {% if video_games.has_next %}
                    <a href="?video_games_page={{ video_games.next_page_number }}" class="btn btn-primary">Next</a>
                    <a href="?video_games_page={{ video_games.paginator.num_pages }}" class="btn btn-primary">Last</a>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if non_video_games.has_previous %}
                    <a href="?non_video_games_page=1" class="btn btn-primary">First</a>
                    <a href="?non_video_games_page={{ non_video_games.previous_page_number }}" class="btn btn-primary">Previous</a>
                {% endif %}
                <span class="current-page">Page {{ non_video_games.number }} of {{ non_video_games.paginator.num_pages }}</span>
                {% if non_video_games.has_next %}
                    <a href="?non_video_games_page={{ non_video_games.next_page_number }}"
                       class="btn btn-primary">Next</a>
                    <a href="?non_video_games_page={{ non_video_games.paginator.num_pages }}" class="btn btn-primary">Last</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
