{% extends 'base.html' %}

{% block title %}Reviews{% endblock %}

{% block content %}
    <div class="container">
        <div class="card-columns">
            {% for review in reviews %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.title }}</h5>
                        <p class="card-text">For game: {{ review.content_object.name }}</p>
                        <p class="card-text">Added by: {{ review.user.username }}</p>
                        <p class="card-text">Added on: {{ review.created_at }}</p>
                        <a href="{% url 'read_review' slug=review.slug %}" class="btn btn-primary">Read Review</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
